[AOI]
aoi = POLYGON((-99.6955 18.9131,-98.451 18.9131,-98.451 19.6482,-99.6955 19.6482,-99.6955 18.9131))

[Search Parameters]
platform = SENTINEL1A
maxResults = 10
beamMode = IW
frame = 526
polarization = VV_VH
processingLevel = SLC
relativeOrbit = 143
start = 2019-11-01T11:59:59Z
end = 2020-11-01T11:59:59Z
flightDirection = DESCENDING

[Download]
username = ''
password = ''
saveFilePath = ./Download